:root {
  --primary-color: #703bf7;
  --primary-fill-color: #2724b6;
  --secondary-color-dark: #141414;
  --secondary-color-light: #1a1a1a;
  --secondary-stroke-color: #262626;

  --text-color-bright: #ffffff;
  --text-color-dull: #999999;

  --font-family-primary: 'Inter';
  --font-family-secondary: 'Urbanist';
  --font-size-13: 13px;
  --font-size-15: 14px;
  --font-size-15: 15px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-25: 25px;
  --font-size-26: 26px;
  --font-size-29: 29px;
  --font-size-30: 30px;
  --font-size-34: 34px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-60: 60px;
  --font-size-72: 72px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --mobile-breakpoint: 768px;
}
