.h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-60);
  font-weight: var(--font-weight-semibold);
}

.h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-bold);
}

.h3 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-semibold);
}

.p1 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-34);
  font-weight: var(--font-weight-semibold);
}
.p2 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-29);
  font-weight: var(--font-weight-medium);
}
.p3 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-26);
  font-weight: var(--font-weight-regular);
}
.p4 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-medium);
}
.p5 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semibold);
}
.p6 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-medium);
}
.p7 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semibold);
}
.p8 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
}
.p9 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
}
.p10 {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
}
.p11 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-medium);
}
.p12 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
}
