.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .menuButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-stroke-color);
    border: solid var(--text-color-dull) 1px;
  }

  .menuButtonItem {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--text-color-dull);
    transition: all 0.3s ease;
  }

  .menuButton--close .menuButtonItem:first-child {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .menuButton--close .menuButtonItem:nth-child(2n) {
    opacity: 0;
  }

  .menuButton--close .menuButtonItem:last-child {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .container {
    padding: 22px;
  }

  .mobileNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 300px;
  }
}
