.wrapper {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.icon {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
}
